@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

.container1 {
    background-image: url(./images/bg.jpg);
    background-size: cover;
    height: 100vh;
    justify-content: center;
    justify-items: center;
    
}

.main .container1 h1 {
    background-color: #4c4c4c;
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 68px;
    line-height: 80px;
    width: 600px;
    text-align: center;
    padding: 20px;
    margin: auto;
    justify-content: center;
    
}